.hide-on-desktop{
	display: none;
}
@media screen and (max-width: 767px) {
	html, body{
		max-width: 100%;
		overflow-x: hidden;
	}
	.hide-on-desktop{
		display: block;
	}
	.hide-on-mobile{
		display: none;
	}
	.header-inner-width p {
		font-size: 55px;
		margin-bottom: 20px;
	}
	.header-inner-width h1{
		font-size: 40px;
		line-height: 1.2;
		margin-bottom: 30px;
	}
	#page-header .title-primary span{
		padding-left: 0;
		padding-right: 0;
	}
	.elementor-grid.elementor-grid-3 .elementor-grid-item{
		width: 100%;
	}
	.convention-image{
		text-align: center;
		padding-right: 0;
		margin-top: 15px;
	}
	.convention-details{
		display: none;
	}
	.banner-wrap h1:after, .banner-wrap h1:before{
		display: none;
	}
	#header .container, .elementor-element-ce1be82 .container, .elementor-element-0d3677d .container{
		padding-left: 10px;
		padding-right: 10px;
	}
	#header{
		position: relative !important;
	}
	.logo-img a > img{
		width: 250px;
	}
	div#tax-container h1.entry-title{
		font-size: 30px;
		margin: 10px 0;
	}
	.page-title.tax-page-title .container:before{
		width: 25px;
		height: 25px;
		top: -15px;
	}
	img#tax-logo{
		display: none;
	}
	.single-companies .page-title{
		position: relative;
	}
	.single-companies .page-title .container{
		min-height: 0;
	}
	.single-companies .page-title h1{
		font-size: 30px;
	}
	.single-companies .page-title h2{
		margin-top: 5px;
		margin-bottom: 5px;
	}
	#company-logo{
		max-width: 80px;
		top: -50px;
	}
	.pull-left div{
		display: block;
		margin-left: 0;
		margin-bottom: 8px;
	}
	body.rtl .company-top-info .pull-left,
	body.rtl .company-top-info .pull-right,
	body.rtl .company-menu-info .pull-right,
	body.rtl .company-menu-info .pull-left{
		float: none !important;
	}
	ul.company-menu {
		margin-bottom: 15px;
	}
	ul.company-menu li {
		margin-left: 8px;
	}
	.company-menu li a {
		font-size: 16px;
	}
	.detail-title, .detail-content{
		display: block;
		width: 100%;
	}
	.col-pu-5 {
		width: 100%;
		float: none;
		margin-bottom: 15px;
	}
	.col-pu-5 .not-paid:last-child {
		margin-bottom: 0;
	}
	.company-container {
		float: none;
	}
	.page-id-127 #page-header .title-primary span:before,
	.page-id-127 #page-header .title-primary span:after {
		display: none;
	}
	.homepage-list-grid.slick-slider {
		width: 100%;
		margin-right: 0;
		overflow: hidden;
	}
	.search-form .row {
		margin: 0;
	}
	.contracts-row, .contract-details-row {
		margin-bottom: 15px;
	}
	.companies-archive-wrapper .row {
		margin: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.companies-archive-wrapper .row .col-pu-5 {
		width: 50%;
	}
	.row.managers,
	.row.gallery-images,
	.row.pu-more-companies,
	.pu-leading-companies-content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.row.managers .col-md-3 {
		width: 25%;
		margin-bottom: 20px;
	}
	.row.gallery-images .col-md-3,
	.row.gallery-images .col-md-6,
	.row.pu-more-companies .col-md-3,
	.pu-leading-companies-content .col-pu-5 {
		width: 50%;
	}
	.row.managers .col-md-3 .pu-image-title {
		position: relative;
	}
	.row.managers .staff-placeholders.view-mode {
		height: 200px;
	}
}

@media screen and (max-width: 400px) {
	.row.managers .col-md-3 {
		width: 50%;
	}
	.row.managers .staff-placeholders.view-mode {
		height: auto;
	}
}